.CompareEmmisions {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.MonthlyComparisonHeading h1 {
  font-size: 4rem;
}
.ComparisonWithFriend h1 {
  font-size: 4rem;
}
.ComparisonWithFriend {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.CompareEmmission h1{
    font-size: 2.5rem;
}
.ReturnBAck {
  font-size: 2rem;
  border: 1px solid darkgreen;
  padding: 10px;
  align-items: center;
}
.ReturnBAck h1 {
  margin: 10px 0px;
}

.OFFSETButton {
  border: 2px solid black;
  padding: 5px;
  background-color: lightgreen;
  color: darkgreen;
  margin: 15px;
}
