.contact {
  /* border: 2px solid; */
  /* height: 70rem; */
  background-image: linear-gradient(rgb(204, 227, 204), rgb(84, 187, 84));
  z-index: -1;
  align-items: center;
}
.ContactProfiles {
  display: flex;
  margin: 10px 0px;
}

.content {
  position: absolute;
  /* top: 30%; */
  bottom: 0;
  /* left: 18%; */
  margin-left: 23rem;
  /* border: 2px solid; */
  width: 90rem;
  z-index: 3;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 50px rgb(51, 127, 51);
  /* padding: 20px; */
  height: max-content;
  top: 28%;
}
.ContactUS {
  padding: 12px;
}

.content h1 {
  font-size: 5rem;
  margin-left: 2rem;
  margin-top: 1rem;
  font-weight: 200;
}

.content h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-left: 2rem;
  margin-top: 1rem;
}

.content p {
  font-size: 1.2rem;
  margin-left: 2rem;
}

.SocialMedia {
  height: 6rem;
  margin-left: 2rem;
  align-items: center;
}
.ProfilePicture {
  width: 15rem;
  border-radius: 20px;
  height: 18rem;
}

@media (max-width:768px){
  .content{
    /* height: 40rem; */
    width: 50rem;
    left: 13%;
    top: 12rem;
  }
  .ContactUsDetails{
    display: flex;
    flex-direction: column;
  }
  .ProfilePicture{
    height: 14rem;
    margin-left: 1.8rem;
  }
}

@media (max-width:1256px){
  .content{
    margin-left: 17rem;
  }
}

@media (max-width:1210px){
  hr{
    margin-top: 2rem;
  }
}

@media (max-width:1140px){
  .content{
    margin-left: 12rem;
  }
}

@media(max-width:1080px){
  .content{
    margin-left: 8rem;
  }
}

@media (max-width:998px){
  .content{
    margin-left: 9rem;
    width: 80rem;
  }

}

@media (max-width:925px){
  .content{
    width: 75rem;
  }
}

@media (max-width:900px){
  .content{
   margin-left: 6rem;
   width: 73rem;
  }
}

@media (max-width:800px){
  .ContactUS{
    flex-direction: column;
  }

  .content{
    height: max-content;
    width: 40rem;
    margin-left: 8rem;
  }

  .contact{
    height:max-content;
  }
}

@media (max-width:670px){
  .content{
    margin-left: 4rem;
  }
}

@media (max-width:530px){
  .gaurav h2{
    font-size: 1.7rem;
  }
  .ProfilePicture{
    height: 12rem;
    width: 10rem;
  }

  .content h1{
    font-size: 3rem;
  }
  .content{
    width: 28rem;
    /* height: max-content; */
  }
  .contact{
    /* height: max-content; */
  }
}

@media(max-width:420px){
  .content{
    margin-left: 1.7rem;
  }
}
@media(max-width:376px){
  .content{
    margin-left: -0.1rem;
    margin-top: -5rem;
  }

}
@media(max-width:370px){
  .content{
    margin-left: 0.4rem;
  }
}